In [1]:
import pandas as pd

In [2]:
data={"name":["arti","dakshita","ankita"],"age":[1,2,3]}
df=pd.DataFrame(data)
print(df)

       name  age
0      arti    1
1  dakshita    2
2    ankita    3

In [4]:
data=pd.read_excel("one.xlsx")
print(data)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
1948        Andrea Shaw     Regular Air   Small Business       Technology
1949        Marvin Reid     Regular Air   Small Business  Office Supplies
1950      Florence Gold     Express Air   Small Business        Furniture
1951      Tammy Buckley     Express Air         Consumer        Furniture

      ...   Region State or Province         City  Postal Code Order Date  \
0     ...     West        Washington    Anacortes        98221 2015-01-07
1     ...     West        California  San Gabriel        91776 2015-06-13
2     ...     East        New Jersey      Roselle         7203 2015-02-15
3     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
4     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
...   ...      ...               ...          ...          ...        ...
1947  ...  Central          Illinois     Danville        61832 2015-03-11
1948  ...  Central          Illinois     Danville        61832 2015-03-11
1949  ...  Central          Illinois  Des Plaines        60016 2015-03-29
1950  ...     East     West Virginia     Fairmont        26554 2015-04-04
1951  ...     West           Wyoming     Cheyenne        82001 2015-02-08

      Ship Date     Profit Quantity ordered new    Sales Order ID
0    2015-01-08     4.5600                    4    13.01    88522
1    2015-06-15  4390.3665                   12  6362.85    90193
2    2015-02-17   -53.8096                   22   211.15    90192
3    2015-05-14   803.4705                   16  1164.45    86838
4    2015-05-13   -24.0300                    7    22.23    86838
...         ...        ...                  ...      ...      ...
1947 2015-03-12  -116.7600                   18   207.31    87536
1948 2015-03-12  -160.9520                   22   143.12    87536
1949 2015-03-31   -41.8700                    5    59.98    87534
1950 2015-04-04   -24.7104                   15   135.78    87537
1951 2015-02-11   349.4850                    5   506.50    87530

[1952 rows x 25 columns]

In [5]:
print(data.head(10))

   Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0   20847           High      0.01        2.84           0.93            3
1   20228  Not Specified      0.02      500.98          26.00            5
2   21776       Critical      0.06        9.48           7.29           11
3   24844         Medium      0.09       78.69          19.99           14
4   24846         Medium      0.08        3.28           2.31           14
5   24847         Medium      0.05        3.28           4.20           14
6   24848         Medium      0.05        3.58           1.63           14
7   18181       Critical      0.00        4.42           4.99           15
8   20925         Medium      0.01       35.94           6.66           15
9   26267           High      0.04        2.98           1.58           16

       Customer Name       Ship Mode Customer Segment Product Category  ...  \
0      Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1     Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2      Marcus Dunlap     Regular Air      Home Office        Furniture  ...
3  Gwendolyn F Tyson     Regular Air   Small Business        Furniture  ...
4  Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...
5  Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...
6  Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...
7      Timothy Reese     Regular Air   Small Business  Office Supplies  ...
8      Timothy Reese     Regular Air   Small Business  Office Supplies  ...
9       Sarah Ramsey     Regular Air   Small Business  Office Supplies  ...

    Region State or Province         City  Postal Code Order Date  Ship Date  \
0     West        Washington    Anacortes        98221 2015-01-07 2015-01-08
1     West        California  San Gabriel        91776 2015-06-13 2015-06-15
2     East        New Jersey      Roselle         7203 2015-02-15 2015-02-17
3  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-14
4  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-13
5  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-13
6  Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-13
7     East          New York    Smithtown        11787 2015-04-08 2015-04-09
8     East          New York    Smithtown        11787 2015-05-28 2015-05-28
9     East          New York     Syracuse        13210 2015-02-12 2015-02-15

      Profit Quantity ordered new    Sales Order ID
0     4.5600                    4    13.01    88522
1  4390.3665                   12  6362.85    90193
2   -53.8096                   22   211.15    90192
3   803.4705                   16  1164.45    86838
4   -24.0300                    7    22.23    86838
5   -37.0300                    4    13.99    86838
6    -0.7100                    4    14.26    86838
7   -59.8200                    7    33.47    86837
8   261.8757                   10   379.53    86839
9     2.6300                    6    18.80    86836

[10 rows x 25 columns]

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   datetime64[ns]
 20  Ship Date             1952 non-null   datetime64[ns]
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 381.4+ KB
None

In [8]:
print(data.describe())

             Row ID     Discount   Unit Price  Shipping Cost  Customer ID  \
count   1952.000000  1952.000000  1952.000000    1952.000000  1952.000000
mean   19916.479508     0.048975   109.079221      12.968151  1735.376537
min       64.000000     0.000000     1.140000       0.490000     3.000000
25%    19121.000000     0.020000     6.480000       3.230000   875.000000
50%    21164.500000     0.050000    20.990000       6.150000  1738.000000
75%    23483.250000     0.080000   100.972500      14.362500  2578.250000
max    26389.000000     0.210000  6783.020000     164.730000  3403.000000
std     5957.595627     0.031378   393.481301      17.414631   991.078006

       Product Base Margin   Postal Code                     Order Date  \
count          1936.000000   1952.000000                           1952
mean              0.515186  51534.769467  2015-03-29 01:21:08.852459008
min               0.350000   1001.000000            2015-01-01 00:00:00
25%               0.380000  28560.000000            2015-02-11 00:00:00
50%               0.525000  48765.500000            2015-03-27 12:00:00
75%               0.590000  78550.000000            2015-05-15 00:00:00
max               0.850000  99362.000000            2015-06-30 00:00:00
std               0.137055  29362.828420                            NaN

                           Ship Date        Profit  Quantity ordered new  \
count                           1952   1952.000000           1952.000000
mean   2015-03-30 23:55:34.426229248    114.793859             12.944672
min              2015-01-02 00:00:00 -16476.838000              1.000000
25%              2015-02-13 00:00:00    -84.485400              5.000000
50%              2015-03-29 00:00:00      1.476450             10.000000
75%              2015-05-16 00:00:00    116.201575             16.000000
max              2015-07-08 00:00:00   9228.225600            167.000000
std                              NaN   1141.112387             13.871565

              Sales      Order ID
count   1952.000000   1952.000000
mean     985.828832  82365.924180
min        2.250000    359.000000
25%       58.807500  86767.750000
50%      202.395000  88376.000000
75%      802.945000  89957.000000
max    45737.330000  91586.000000
std     2559.900167  19042.295798

In [9]:
print(data.isnull())

      Row ID  Order Priority  Discount  Unit Price  Shipping Cost  \
0      False           False     False       False          False
1      False           False     False       False          False
2      False           False     False       False          False
3      False           False     False       False          False
4      False           False     False       False          False
...      ...             ...       ...         ...            ...
1947   False           False     False       False          False
1948   False           False     False       False          False
1949   False           False     False       False          False
1950   False           False     False       False          False
1951   False           False     False       False          False

      Customer ID  Customer Name  Ship Mode  Customer Segment  \
0           False          False      False             False
1           False          False      False             False
2           False          False      False             False
3           False          False      False             False
4           False          False      False             False
...           ...            ...        ...               ...
1947        False          False      False             False
1948        False          False      False             False
1949        False          False      False             False
1950        False          False      False             False
1951        False          False      False             False

      Product Category  ...  Region  State or Province   City  Postal Code  \
0                False  ...   False              False  False        False
1                False  ...   False              False  False        False
2                False  ...   False              False  False        False
3                False  ...   False              False  False        False
4                False  ...   False              False  False        False
...                ...  ...     ...                ...    ...          ...
1947             False  ...   False              False  False        False
1948             False  ...   False              False  False        False
1949             False  ...   False              False  False        False
1950             False  ...   False              False  False        False
1951             False  ...   False              False  False        False

      Order Date  Ship Date  Profit  Quantity ordered new  Sales  Order ID
0          False      False   False                 False  False     False
1          False      False   False                 False  False     False
2          False      False   False                 False  False     False
3          False      False   False                 False  False     False
4          False      False   False                 False  False     False
...          ...        ...     ...                   ...    ...       ...
1947       False      False   False                 False  False     False
1948       False      False   False                 False  False     False
1949       False      False   False                 False  False     False
1950       False      False   False                 False  False     False
1951       False      False   False                 False  False     False

[1952 rows x 25 columns]

In [10]:
print(data.isnull().sum())

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

In [13]:
print(data.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1947    False
1948    False
1949    False
1950    False
1951    False
Length: 1952, dtype: bool

print(data.duplicated().sum())

In [14]:
print(data.duplicated().sum())

0

In [19]:
print(data["Row ID"].duplicated().sum())

1

In [20]:
print(data["Row ID"].duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1947    False
1948    False
1949    False
1950    False
1951    False
Name: Row ID, Length: 1952, dtype: bool

In [21]:
print(data.drop_duplicates("Row ID"))

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
1948        Andrea Shaw     Regular Air   Small Business       Technology
1949        Marvin Reid     Regular Air   Small Business  Office Supplies
1950      Florence Gold     Express Air   Small Business        Furniture
1951      Tammy Buckley     Express Air         Consumer        Furniture

      ...   Region State or Province         City  Postal Code Order Date  \
0     ...     West        Washington    Anacortes        98221 2015-01-07
1     ...     West        California  San Gabriel        91776 2015-06-13
2     ...     East        New Jersey      Roselle         7203 2015-02-15
3     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
4     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
...   ...      ...               ...          ...          ...        ...
1947  ...  Central          Illinois     Danville        61832 2015-03-11
1948  ...  Central          Illinois     Danville        61832 2015-03-11
1949  ...  Central          Illinois  Des Plaines        60016 2015-03-29
1950  ...     East     West Virginia     Fairmont        26554 2015-04-04
1951  ...     West           Wyoming     Cheyenne        82001 2015-02-08

      Ship Date     Profit Quantity ordered new    Sales Order ID
0    2015-01-08     4.5600                    4    13.01    88522
1    2015-06-15  4390.3665                   12  6362.85    90193
2    2015-02-17   -53.8096                   22   211.15    90192
3    2015-05-14   803.4705                   16  1164.45    86838
4    2015-05-13   -24.0300                    7    22.23    86838
...         ...        ...                  ...      ...      ...
1947 2015-03-12  -116.7600                   18   207.31    87536
1948 2015-03-12  -160.9520                   22   143.12    87536
1949 2015-03-31   -41.8700                    5    59.98    87534
1950 2015-04-04   -24.7104                   15   135.78    87537
1951 2015-02-11   349.4850                    5   506.50    87530

[1951 rows x 25 columns]

In [22]:
print(data.isnull().sum())

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

In [24]:
print(data["Product Base Margin"].mean())

0.5151859504132232

In [25]:
import numpy as np

In [27]:
data["Product Base Margin"]=data["Product Base Margin"].replace(np.nan,0.515)

In [28]:
print(data.isnull().sum())

Row ID                  0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Customer ID             0
Customer Name           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Country                 0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Profit                  0
Quantity ordered new    0
Sales                   0
Order ID                0
dtype: int64